<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>Start-Fast-Node</title>
<link href="../lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="../style/style.css" rel="stylesheet">
<style>
    body    { padding-top:50px; }
</style>